.hidden{
    display: none;
}
.contact_details{
    display: flex;
    justify-content: space-around;
    padding: 80px 120px;
    flex-direction: row;
    align-items: center;
}
.contact_options{
    width: 40%;
}
.contact_form{
    width: 60%;
    padding: 50px 50px;
    box-shadow: 0px -1px 52px -13px rgba(0,0,0,0.7);
-webkit-box-shadow: 0px -1px 52px -13px rgba(0,0,0,0.7);
-moz-box-shadow: 0px -1px 52px -13px rgba(0,0,0,0.7);
}
#my-form label{
    display: flex;
    flex-direction: column;
    padding: 15px;
}
label input{
    height: 40px;
} 
label input:focus,label textarea:focus{
    background-color: #f7f1eab6;
    border: none;
    outline: none;
}
label textarea{

}