.contact_bg{
    background-image: url(https://images.unsplash.com/photo-1513569771920-c9e1d31714af?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
    padding: 80px 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.contact_bg::after{
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    position: absolute;
    display: block;
    content: "";
    background-color: rgba(0,0,0,0.5);
    z-index: -1;
}

@media only screen and (min-width: 1200px) {
.contact_details{
    display: flex;
    justify-content: space-around;
    margin: 0 150px;
    flex-direction: row;
    background-color: #004d5f;
    z-index: 999999 !important;
}
.contact_options{
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 30px 0 0 50px;
    text-align: center;
}
.contact_options p a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.contact_options p{
    padding: 25px 0;
    border: 1px solid white;
    margin: 20px 15px 20px 0;
    cursor: default;
    display: flex;
    flex-direction:column;
    border-radius: 4px;
}
.contact_options p i{
    border: none;
    color: white;
    cursor: not-allowed;
}
.contact_form{
    background-color: white !important;
    width: 60%;
    padding: 50px 50px;
    box-shadow: 0px -1px 52px -13px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0px -1px 52px -13px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px -1px 52px -13px rgba(0,0,0,0.7);
}
.contact_form h1{
    font-size: 2.2rem;
    padding-bottom: 20px;
}
#my-form p{
    display: flex;
    flex-direction: column;
    padding: 15px;
}
label input{
    height: 40px;
} 
label input:focus,label textarea:focus{
    background-color: #f7f1eab6;
    border: none;
    outline: none;
}
.hidden{
    display: none !important;
}
p button{
    padding: 10px;
    background-color: #176575;
    color: white;
    border: none;
    border-radius: 4px;
}
}

@media only screen and (max-width: 1199px) {
    .contact_details{
        display: flex;
        justify-content: space-around;
        margin: 40px 80px;
        flex-direction: row;
        background-color: #004d5f;
    }
    .contact_options{
        width: 40%;
        display: flex;
        flex-direction: column;
        padding: 30px 0 0 50px;
        text-align: center;
    }
    .contact_options p a {
        text-decoration: none;
        color: white;
        cursor: pointer;
    }
    .contact_options p{
        padding: 25px 0;
        border: 1px solid white;
        margin: 20px 15px 20px 0;
        cursor: default;
        display: flex;
        flex-direction:column;
        border-radius: 4px;
    }
    .contact_options p i{
        border: none;
        color: white;
        cursor: not-allowed;
    }
    .contact_form{
        background-color: white !important;
        width: 60%;
        padding: 50px 50px;
        box-shadow: 0px -1px 52px -13px rgba(0,0,0,0.7);
        -webkit-box-shadow: 0px -1px 52px -13px rgba(0,0,0,0.7);
        -moz-box-shadow: 0px -1px 52px -13px rgba(0,0,0,0.7);
    }
    .contact_form h1{
        font-size: 2.2rem;
        padding-bottom: 20px;
    }
    #my-form p{
        display: flex;
        flex-direction: column;
        padding: 15px;
    }
    label input{
        height: 40px;
    } 
    label input:focus,label textarea:focus{
        background-color: #f7f1eab6;
        border: none;
        outline: none;
    }
    .hidden{
        display: none !important;
    }
    p button{
        padding: 10px;
        background-color: #176575;
        color: white;
        border: none;
        border-radius: 4px;
    }
    .contact_bg{
        background-color: rgb(21, 21, 21);
        padding: 20px 0;
    }
    }
    
@media only screen and (max-width: 940px) {
    .contact_bg{
        background-color: rgb(21, 21, 21);
        padding: 20px 0;
    }
    .contact_details{
        display: flex;
        justify-content: space-around;
        margin: 40px 20px;
        flex-direction: row;
        background-color: #004d5f;
    }
    .contact_options{
        width: 40%;
        display: flex;
        flex-direction: column;
        padding: 30px 0 0 50px;
        text-align: center;
    }
    .contact_options p a {
        text-decoration: none;
        color: white;
        cursor: pointer;
    }
    .contact_options p{
        padding: 25px 0;
        border: 1px solid white;
        margin: 20px 15px 20px 0;
        cursor: default;
        display: flex;
        flex-direction:column;
        border-radius: 4px;
    }
    .contact_options p i{
        border: none;
        color: white;
        cursor: not-allowed;
    }
    .contact_form{
        background-color: white !important;
        width: 60%;
        padding: 50px 50px;
        box-shadow: 0px -1px 52px -13px rgba(0,0,0,0.7);
        -webkit-box-shadow: 0px -1px 52px -13px rgba(0,0,0,0.7);
        -moz-box-shadow: 0px -1px 52px -13px rgba(0,0,0,0.7);
    }
    .contact_form h1{
        font-size: 2.2rem;
        padding-bottom: 20px;
    }
    #my-form p{
        display: flex;
        flex-direction: column;
        padding: 15px;
    }
    label input{
        height: 40px;
    } 
    label input:focus,label textarea:focus{
        background-color: #f7f1eab6;
        border: none;
        outline: none;
    }
    .hidden{
        display: none !important;
    }
    p button{
        padding: 10px;
        background-color: #176575;
        color: white;
        border: none;
        border-radius: 4px;
    }
    }
    
@media only screen and (max-width: 814px) {
    .contact_bg{
        background-color: rgb(21, 21, 21);
        padding: 20px 0;
    }
    .contact_details{
        display: flex;
        justify-content: space-between;
        margin: 40px 80px;
        flex-direction: column-reverse;
        background-color: #004d5f;
    }
    .contact_options{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 30px;
        text-align: center;
    }
    .contact_options p a {
        text-decoration: none;
        color: white;
        cursor: pointer;
    }
    .contact_options p{
        padding: 25px 0;
        border: 1px solid white;
        margin: 20px 15px 20px 0;
        cursor: default;
        display: flex;
        flex-direction:column;
        border-radius: 4px;
    }
    .contact_options p i{
        border: none;
        color: white;
        cursor: not-allowed;
    }
    .contact_form{
        background-color: white !important;
        width: 100%;
        padding: 50px 50px;
        box-shadow: 0px -1px 52px -13px rgba(0,0,0,0.7);
        -webkit-box-shadow: 0px -1px 52px -13px rgba(0,0,0,0.7);
        -moz-box-shadow: 0px -1px 52px -13px rgba(0,0,0,0.7);
    }
    .contact_form h1{
        font-size: 2.2rem;
        padding-bottom: 20px;
    }
    #my-form p{
        display: flex;
        flex-direction: column;
        padding: 15px;
    }
    label input{
        height: 40px;
    } 
    label input:focus,label textarea:focus{
        background-color: #f7f1eab6;
        border: none;
        outline: none;
    }
    .hidden{
        display: none !important;
    }
    p button{
        padding: 10px;
        background-color: #176575;
        color: white;
        border: none;
        border-radius: 4px;
    }
    }
       
@media only screen and (max-width: 814px) {
    .contact_bg{
        background-color: rgb(21, 21, 21);
        padding: 20px 0;
    }
    .contact_details{
        display: flex;
        justify-content: space-between;
        margin: 40px 80px;
        flex-direction: column-reverse;
        background-color: #004d5f;
    }
    .contact_options{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 30px;
        text-align: center;
    }
    .contact_options p a {
        text-decoration: none;
        color: white;
        cursor: pointer;
    }
    .contact_options p{
        padding: 25px 0;
        border: 1px solid white;
        margin: 20px 15px 20px 0;
        cursor: default;
        display: flex;
        flex-direction:column;
        border-radius: 4px;
    }
    .contact_options p i{
        border: none;
        color: white;
        cursor: not-allowed;
    }
    .contact_form{
        background-color: white !important;
        width: 100%;
        padding: 50px 50px;
        box-shadow: 0px -1px 52px -13px rgba(0,0,0,0.7);
        -webkit-box-shadow: 0px -1px 52px -13px rgba(0,0,0,0.7);
        -moz-box-shadow: 0px -1px 52px -13px rgba(0,0,0,0.7);
    }
    .contact_form h1{
        font-size: 2.2rem;
        padding-bottom: 20px;
    }
    #my-form p{
        display: flex;
        flex-direction: column;
        padding: 5px;
    }
    label input{
        height: 40px;
    } 
    label input:focus,label textarea:focus{
        background-color: #f7f1eab6;
        border: none;
        outline: none;
    }
    .hidden{
        display: none !important;
    }
    p button{
        padding: 10px;
        background-color: #176575;
        color: white;
        border: none;
        border-radius: 4px;
    }
    }
    @media only screen and (max-width: 663px) {
        .contact_bg{
            background-color: rgb(21, 21, 21);
            padding: 20px 0;
        }
        .contact_details{
            display: flex;
            justify-content: space-between;
            margin: 40px 20px;
            flex-direction: column-reverse;
            background-color: #004d5f;}
        .contact_options{
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 30px;
            text-align: center;
        }
        .contact_options p a {
            text-decoration: none;
            color: white;
            cursor: pointer;
        }
        .contact_options p{
            padding: 25px 0;
            border: 1px solid white;
            margin: 20px 15px 20px 0;
            cursor: default;
            display: flex;
            flex-direction:column;
            border-radius: 4px;
        }
        .contact_options p i{
            border: none;
            color: white;
            cursor: not-allowed;
        }
        .contact_form{
            background-color: white !important;
            width: 100%;
            padding: 50px 50px;
            box-shadow: 0px -1px 52px -13px rgba(0,0,0,0.7);
            -webkit-box-shadow: 0px -1px 52px -13px rgba(0,0,0,0.7);
            -moz-box-shadow: 0px -1px 52px -13px rgba(0,0,0,0.7);
        }
        .contact_form h1{
            font-size: 1.5rem;
            padding-bottom: 20px;
            text-align: center;
        }
        #my-form p{
            display: flex;
            flex-direction: column;
            padding: 5px;
        }
        label input{
            height: 40px;
        } 
        label input:focus,label textarea:focus{
            background-color: #f7f1eab6;
            border: none;
            outline: none;
        }
        .hidden{
            display: none !important;
        }
        p button{
            padding: 10px;
            background-color: #176575;
            color: white;
            border: none;
            border-radius: 4px;
        }
        }