
/* Icons */
.fab,.fa-envelope{
    padding: 10px;
    border: 1.5px solid #B191FF;
    border-radius: 60px;
    color: #B191FF;
}
/* Fonts */
.my_name,.design_name,.serv_colhead{
    font-size: 3rem;
}
.col_title{
    font-weight: lighter;
}
.serv_title{

    font-size: 3rem;
    font-weight: lighter;
}
.prof_skills,.people_skills{
    font-size: 2.5rem;
    font-weight: lighter;
}
.ts,.wpdev{
    font-size: 1.3rem;
    font-weight: lighter;
    letter-spacing: 2px;
}
.fa-long-arrow-alt-left{
    font-weight: lighter;
}
/******************** Header *******************/
/* Logo */
.nav_logo{
    position: absolute;
    left: 15;
}
.logo{
    height: 50px;
}
/* Nav */
header{
    width: 100%;
    position: fixed;
    display: flex;
    color: whitesmoke;
    height: 80px;
    padding: 15px 15px;
    background-color: #242F40;
    top: 0;
}
.header{
    position: relative;
    padding: 15px 0;
    height: 80px;
    background-color: #242F40;

}

nav > ul{
    display: inline-flex;
}
nav > ul > li{
    padding: 0 20px;
}
nav{
    position: absolute;
    right: 0;
    padding-top: 10px;
}
nav > ul > li > a{
    text-decoration: none;
    color: #E7D7C1;
}
/* Button */
nav > ul > li > a > button{
    padding: 10px;
    margin-top: -15px;
    color: #242F40;
    background-color: #80A4ED;
    border: none;
    border-radius: 5px;
}
nav > ul > li > a > button:hover{
    background-color: #B191FF;
}
/* Home column */
.home_cta{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - 80px);
    padding: 0 8vw;
}
.home_column_two > img{
    width: 100%;
    border-radius: 70%;
}
.home_column_two{
    width: 40%;
}
.about_me{
    margin-bottom: 20px;
    width: 65%;
}
.title_name{
    margin-bottom: 20px;
}
.design_name{
    color: #B191FF;
    font-weight: bold;
}
/* skills */
p.serv_colhead{
    text-align: center;
}
.col_title{
    background-color: #E7D7C1;
    height: auto;
    color: #242F40;
    padding: 20px;
}
.skills{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.develop,.support{
    width: 45%;
    color: #e4c465;
    text-align: center;
    border: 1px solid #242F40;
    margin: 50px 30px;
    padding: 10px 20px;
    font-weight: bold;

}
.develop{
    background-image: url(/assets/skills_column.jpg);
}
.support{
    background-image: url(/assets/skills_column.jpg);
}
.ts,.wpdev{
    background-color: rgba(202, 202, 202, 0.623);
    padding: 120px 20px;
    width: 100%;
}
.serv_title{
    width: 40%;
    text-align: center;
}
.s_col1{
    display: flex;
}
.s_bg{ 
    width: 60%;

    padding: 20px;
}
/* Skills */
.skills_progress{
    padding: 50px;
    display: flex;
    background-color: #80A4ED;
}
.professional{
    width: 50%;
}
.people{
    width: 50%;
}
.people_skills_li > ul{
    padding: 0;
    columns: 2;
}
.people_skills_li > ul > li{
    padding: 20px 0;
    font-weight: bold;
}
.prof_skills,.people_skills{
    padding-bottom: 20px;
    color: #E7D7C1;
}
.meter { 
    height: 5px;
    position: relative;
    background: #e4c465;
    overflow: hidden;
    width: 70%;
    margin-bottom: 20px;
}

.meter span {
    display: block;
    height: 100%;
}

.progress {
    background-color: #471ead;
}

.progress_anim{
    animation: progressBar 3s ease-in-out;
    animation-fill-mode:both; 
}
@keyframes progressBar {
0% { width: 0; }
    100% { width: 100%; }
}
.subscribe{
    background-color: #242F40;
    padding: 60px;
    display: flex;
    justify-content: space-between;
}
.subs_form{
    width: 45%;
}