*{
    box-sizing: border-box;
    cursor: pointer;
    list-style-type: none;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    
  }
body{
    height: 100%;
    width: auto;
    overflow-x: hidden;
}
button,a,.logo,i{
    cursor: pointer;
}
input,textarea{
    cursor: pointer;
    background-color: whitesmoke;
    color: black;
    border: none;
    width: 100%;
    border-radius: 4px;
}
a:hover{
    color: #00f6f6;
}
header{
    z-index: 1;
    width: 100%;
}
main{
    z-index: 0;
}
footer{
    height: 12vh;
    width: 100%;
    background-color: #004d5f;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
}
.email-marketing-by-b{
    display: none !important;
    visibility: hidden !important;
}